<div class="container mx-auto">
  <div class="flex items-center justify-between">
    <h2 class="py-5 px-10 text-3xl text-gray-900">Add
      <span class="text-indigo-600 font-bold">
        Employee
      </span>
    </h2>
  </div>
</div>