<h4>Password Reset</h4>
<p>Hi <%= @user.profile.first_name %></p>
<p>You can reset your password by visiting the url below:</p>
<a href="<%= @url %>" target="_blank">Password reset link</a>
<p>If you didn't request this change, please ignore this.</p>
