<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jaang · Get your groceries at your door step!</title>

    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />

    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <%= csrf_meta_tag() %>

    <script>window.userToken = "<%= assigns[:user_token] %>";</script>
    <script>window.userId = "<%= assigns[:user_id] %>";</script>
    <script>window.adminUserToken = "<%= assigns[:admin_user_token] %>"</script>
    <script>window.adminUserId = "<% assigns[:admin_id] %>"</script>

  </head>

  <body>
    <header>
      <section class="container"></section>
    </header>
    <%= @inner_content %>
  </body>
</html>
